body{
    background-color: rgb(97, 133, 233);
}

header{
    background-color: rgb(255, 252, 78);
    text-align: center;
}

#minions-img{
    width:300px;
}
.paragrafo{
    text-align:center;
    padding: 5px;
    font-size: 20px;
}